.logo{

    text-align: center;
    width: 1400px; /* Defina a largura desejada */
    height: 850px; /* Defina a altura desejada */
    margin-top: 1%; /* Ajuste o valor conforme necessário */
    left: 500px;
    
}