html, body {
    height: 100%;
    margin: 0;
    background-color: #f577b6;
}


body {
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: #f577b6;
  
}

.bg-cor-linha {
    background-color: #66d5e9;
}

.bg-cor-fundo {
    background-color: #f577b6;
}

.panel-info > .panel-heading {
    background-color: #f577b6;  /* Uma cor escura */
    color: #fff;             /* Letras em branco */
}
.btn-primary {
    background-color: #0135ee(72, 0, 255);  /* Vermelho */
}

.product-name {
    color: #f577b6;  /* Azul */
}
.panel-footer {
    background-color: #f577b6;  /* Um cinza claro */
}
