.container {
    max-width: 100%;
    height: 100%;

  }
  
  .btn-secondary{
background-color: #f577b6;
color: #ffffff;
}
#btn-spc {

margin: 20px;
flex-direction: column;
height: 8vh;
flex-direction:column ;
gap: 10px;
background-color: #66d5e9;
}
#btn-spc2 {

  margin: 2px;
  flex-direction: column;
  height: 8vh;
  flex-direction:column ;
  gap: 10px;
  background-color: #66d5e9;

}