<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Principal</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/estilo.css">

	
	<!-- cor da barra de navegação -->
    <style>
		.custom-navbar-bg {
		  background-color: #f577b6; /* Cor rosa-400 personalizada */
		}
		.btn-button{
            color: #fff;
            background-color: #17a2b8;
            border-color: #17a2b8;
        }
	</style>
</head>
<body>
	<section class="row">
		<nav class="navbar navbar-expand-md custom-navbar-bg sticky-top border-bottom" data-bs-theme="dark">
			<div class="container">
			  <a class="navbar-brand d-md-none" href="#">
				<svg class="bi" width="24" height="24"><use xlink:href="#aperture"/></svg>
			  </a>
			  <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="#offcanvas" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="offcanvas offcanvas-end" tabindex="-1" id="#offcanvas" aria-labelledby="#offcanvasLabel">
				<div class="offcanvas-header">
				  <h5 class="offcanvas-title" id="#offcanvasLabel"></h5>
				  <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
				</div>
				<div class="offcanvas-body">
				  <ul class="navbar-nav flex-grow-1 justify-content-between">
					<li class="nav-item"><a class="nav-link" href="#">
					  <svg class="bi" width="30" height="30"><use xlink:href="#aperture"/></svg>
					</a></li>
					<li class="nav-item"><a class="nav-link" href="principal.html"><img src="../views/img/logofundo.png" style="width: 70px; height: 35px;"> </a></li>
					<li class="nav-item"><a class="nav-link" href="VerProd.html">Produtos</a></li>
					<li class="nav-item"><a class="nav-link" href="CadProd.html">Cadastrar Produto</a></li>
					<li class="nav-item"><a class="nav-link" href="VerProd.html">Gestao de Estoque</a></li>
					<li class="nav-item"><a class="nav-link" href="Relatorio.html">Relatorio de Vendas</a></li>
					</a></li>
				  </ul>
				</div>
			  </div>
			</div>
		  </nav>
    </section>
	<body class="bg-login">	
		<div class="container-fluid">	
			<div class="row col-md-12">
				<div class="col-md-4"></div>
				<div class="col-md-4 login">
					<div style="text-align: center;">
						<img src="../views/img/logofundo.png" style="max-width: 200%; height: auto;">
					</div>
							<div class="d-grid gap-2">
								<button type="button" onclick="location.href='VerProd.html'" class="btn btn-button btn-lg">Ver produtos cadastrado</button>
								<button type="button" onclick="location.href='CadProd.html'" class="btn btn-button btn-lg">Cadastrar Produtos</button>
							</div>
					</form>
				</div>
				<div class="col-md-4"></div>
			</div>
		</div>

	<section>
	</section>

	<script type="text/javascript" src="js/bootstrap.js"></script>
</body>
</html>