.login{
	margin-top: 8%;
	background-color: #f4eff2fa;
	padding: 3%;
	border-radius: 8px;
}

.bg-login{
	background-color: #edbcd9fa;
}

.espaco{
	margin-top: 1%;
}

.container-color{
	background-color: #ff60bffa;
}